:root{
    --ACCgradient: linear-gradient(90deg, #1c226b 0%, rgba(0,246,238,1) 100%);
    --ACCMain: #00F6EE;
    --ACCPink: #FF006F;
    --ACCBlue: #0500FF;
    --ACCGreen: #00BF08;
    --ACCGrey: #7A7A7A;
}
*{
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* NAV */

@media screen and (min-width: 800px) {
    nav{
    display: flex;
    position: sticky;
    top:0;
    z-index: 10;
    padding: 10px 0;
    font-size: 22px;
    transition: all .2s ease-in 0s;
    background-color: white;
}
nav img{
    width: 60px;
    margin: 0 25px;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    margin-right: 50px;
    text-align: center;
}

.nav-mobile{
    display: none;
    visibility: hidden;
}
#myModal, .modal{
    display: none;
    visibility: hidden;
}
}

/* LINKS */
a{
    transition: all 0.3s ease-out;
    color: black;
}
a:visited{
    color: black;
}
a:focus,
a:hover{
    color: var(--ACCMain);
    cursor: pointer;
}

.active{
    font-weight: 600;
    text-decoration: underline;
}
/* a.active::after{
    content: '';
    display: block;
    border: 1px solid #000;
} */
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height:125px;
    border-top: 1px solid black;
    background-color: white;
    align-items: center;
    margin-top: 175px;
    justify-content: center;
}
footer p{
    display: block;
}
/* CONTENT */
.container{
    display: flex;
    flex-direction: column;
    margin-top:100px;
    padding: 0 1.5em 0 1.5em;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.intro{
    display: flex;
    /* width: 380px; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 175px;
}
.intro p{
    margin-top: 30px;
}
.intro img{
    max-width: 302px;
}
.icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 26px;
    margin-top: 18px;
}
.icons a{
    margin: 0 5px;
}
.section-header{
    margin-bottom: 80px;
    text-align: center;
}
.latest-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-work-card{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 120px;
}

.lw-img img{
    width: 100%;
    max-height: 350px;
}
.lw-text{
    width: 50%;
    line-height: 125%;
    margin-right: .5em;
}

.lw-text p:last-of-type{
    margin-top: 30px;
}
.latest-work-card .btn{
    margin-top: 70px;
}
.latest-work .btn-inverse{
    margin-top: 0;
}
.btn{
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white ;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover{
    border: 1px solid transparent;
    background-color: black ;
    color: white;
}
.btn-inverse{
    margin-top: 50px;
    display: inline-block;
    font-size: 24px;
    padding: 15px 30px;
    border: 1px solid transparent;
    background-color: black ;
    border-radius: 30px;
    color:white;
    text-decoration: none;
}
.btn-inverse:visited{
    color: white;
}
.btn-inverse:hover{
    border: 1px solid black;
    background-color: white ;
    color: black;
}

.gradient-btn {
    position:relative;
    margin-left: auto;
    padding:15px 40px;
    background-color: #FFF;
    border: none;
    text-decoration: none;
  }
.gradient-btn::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:30px; 
    padding:4px; 
    background:var(--ACCgradient); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
/* .gradient-btn:hover::before{
    border:5px solid #000;
    border-radius: 30px;
    background: white;
}

.gradient-btn:hover{
    background: var(--ACCgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
} */
.gradient-text{
    background: var(--ACCgradient);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact{
    display: flex;
    flex-direction: column;
    margin:75px 0;
    width: 100%;
    align-items: center;
}
.contact .section-header{
    margin-bottom: 30px;
}
.contact p{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}

form input[type=text],
form textarea{
    padding: 10px 20px;
    width: 360px;
    border: none;
}
form input[type=text],
form textarea,
form input[type=submit]{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
form input[type=submit]{
    cursor: pointer;
}
form input[type=text]{
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
form textarea{
    margin: 0 0 30px 0;
    height: 340px;
    border: 1px solid black;
}
.contact-form .gradient-btn{
    font-family: 'Kulim Park', sans-serif;
    font-size: 16px;
    border: none;
}
.contact-form .gradient-btn::before{
    padding: 2px;
}
.contact-form .gradient-btn:hover::before{
    border: 3px solid black;
}

.contact-form button{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 400;
    border:2px solid #000;
    border-radius: 30px;
    color: #000;
    font-size: 1em;
    position:relative;
    margin-left: auto;
    padding:15px 40px;
    background-color: #FFF;
    text-decoration: none;
  }
  .contact-form button:focus,
  .contact-form button:hover{
    border:2px solid var(--ACCGreen);
    border-radius: 30px;
    background: white;
    font-weight: 600;
    color: #000;
    cursor: pointer;
  }
.form-success{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-success h1{
    margin-bottom: 15px;
}
.form-success .gradient-btn{
    display: inline-block;
    margin-top: 25px;
}
.form-submit-img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: url('./img/memoji-smile.jpg') no-repeat center;
    background-size: 100%;
    box-shadow: 2px 2px 8px #d3d3d3;
    margin-bottom: 25px;
}
.bio-section{
    margin-bottom: 175px;
}
.bio{
    max-width: 950px;
}
.bio p{
    line-height: 27px;
}
.bio svg{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
.code-container{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    max-width: 950px;
    margin: 0 1em 0 1em;
    max-height: 725px;
    background-color: #FBFBFB;
    overflow-y: scroll;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px;
}
.line-numbers{
    position: absolute;
    left: 0;
    /* width: 25px; */
    /* float: left; */
    margin-left: 5px;
    line-height: 200%;
    color: var(--ACCGrey);
    font-size: 1em;
}
.code{
    line-height: 200%;
    /* font-family: 'Source Code Pro', monospace; */
    font-size: 1em;
    margin-left: 40px;
}
.indent-code{
    margin-left:15%;
}
.code-toolbar{
    position: sticky;
    width: 100%;
    z-index: 10;
    top:0;
    /* background-color: #F8F8F8; */
    background-color: #111111;
    padding: 15px;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 10px 10px 0 0;
}
.circle{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 10px;
}
.code-toolbar .circle:nth-child(1){
    background-color: #FF5454;
}
.code-toolbar .circle:nth-child(2){
    background-color: #FFBF43;
}
.code-toolbar .circle:nth-child(3){
    background-color: #90DE2C;
}
#allProj:focus,
#caseStudyProj:focus,
#wwdcProj:focus,
#allProj:hover,
#caseStudyProj:hover,
#wwdcProj:hover{
    transform: scale(1.1);
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}
.filter-btn:nth-of-type(1){
    margin-top:30px;
}
.filter-btn{
    padding: 15px 30px;
    border-radius: 30px;
    margin: 5px;
}
.proj-all-btn-active{
    background-color: var(--ACCGreen);
    color: #fff;
}
.proj-all-btn{
    border: 1px solid var(--ACCGreen);
    color: #000;
}
.proj-cs-btn-active{
    background-color: var(--ACCPink);
    color: #fff;
}
.proj-cs-btn{
    border: 1px solid var(--ACCPink);
    color: #000;
}
.proj-wwdc-btn{
    border: 1px solid var(--ACCBlue);
    color: #000;
}
.proj-wwdc-btn-active{
    background-color: var(--ACCBlue);
    color: #fff;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin:100px 0;
    padding: 0 75px;
}
.projects .overlayDiv a{
    color: var(--ACCMain);
}
.projects .overlayDiv a:hover{
    color: #fff;
}
.project-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 48px 30px;
    padding: 24px;
    /* flex-basis: 33.333333%; */
}
.project-card > div{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
}
.projName{
    font-size: 24px;
    font-weight: 700;
}
.projDesc{
    font-size: 18px;
}
.projDate{
    margin: 20px 0;
    font-size: 18px;
}
.project-card a{
    cursor: pointer;
}
.proj-typeCS,
.proj-typeWWDC{
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
}
.proj-typeCS{ 
     border: 1px solid var(--ACCPink);
}
.proj-typeWWDC{
    border: 1px solid var(--ACCBlue);
}

.bottom-card{
    font-size: 22px;
}
.bottom-card-icons{
    font-family: 'Material Icons Outlined';
}
.bottom-card-icons a{
    margin-left:2px;
}
.svg-inline--fa{
    vertical-align: 0;
}
.overlayDiv{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.863);
    color: #fff;
    width: 360px;
    height: 360px;
}
.overlayDiv ul{
    padding-left: 20px;
}
.close-btn{
    position: absolute;
    top: 2%;
    right: 3%;
}
.close-btn:hover{
    cursor: pointer;
}
#kmc-final-design .card{
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    width:360px;
    height:360px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
.case-study-container{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1em;
}
.painPImg{
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 700px;
    box-shadow: 2px 2px 8px #d3d3d3;
}
.redesignImg{
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 700px;
    box-shadow: 2px 2px 8px #d3d3d3;
}
.redesignPoint{
    width: 100%;
    margin: 1.5em 0;
}
hr{
    margin: 2em 0;
}
.banner{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.img{
    margin:50px 0;
    display: block;
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}
.justify{
    /* width: 100%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.horizontal-flex{
    display: flex;
    flex-flow: row wrap;
    /* gap: 1.5em; */
}

@media screen and (max-width: 799px) {
    .banner{
        max-height: 320px;
    }
    .latest-work-card{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .latest-work-card .lw-img{
        order: -2;
        margin-bottom: 1em;
        align-self: flex-start;
    }
    .latest-work-card .btn{
        margin-top: 2em;
    }
    
    .lw-text{
        width: 100%;
        margin-right: 0;
    }

    nav{
        visibility: hidden;
        display: none;
    }
    .nav-mobile{
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top:0;
        z-index: 10;
        padding: 10px 0;
        font-size: 22px;
        transition: all .2s ease-in 0s;
        background-color: white;
    }

    .nav-mobile a{
        text-decoration: none;
        display: block;
        right: 0;
        padding: 15px 25px;
        margin-right: 50px;
        /* text-align: right; */
    }
    .modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }
    /* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  .modal-content img{
      margin: 10px 0 25px ;
      width: 60px;
      text-align: center;
  }
  /* The Close Button */
  .close {
    /* padding: 15px 25px; */
    margin-top: 25px;
    margin-right: 60px;
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
  }
  
  .modal-body {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 2em;
      padding-bottom: 2em;
    }
    .modal-body a{
        text-decoration: none;
        display: block;
        margin: 1em 0;
    }
    .modal-body .gradient-btn{
        margin: 0 auto;
        margin-top: 1em;
    }
  
    footer{
        text-align: center;
    }

  /* Add Animation */
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

}

@media screen and (max-width: 600px) {
    .horizontal-flex {
        gap: 0em;
      }
    .horizontal-flex-third > div{
        width: 350px;
    }
}

@media screen and (max-width: 900px) {
    .horizontal-flex {
        gap: 1.5em;
      }
      .horizontal-flex-third > div{
          width: 350px;
      }
}

#wwdc,
#UXcs{
    margin-bottom: 4em;
    text-transform: uppercase;
    letter-spacing: .25ch;
    color: black;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}
.work-tile-links{
    margin-top: .5em;
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 0;
    align-items: center;
}
.work-tile-links a{
    margin-right: .5em;
}
@media screen and (min-width: 901px) {
    .horizontal-flex {
        gap: 1.5em;
      }
      .horizontal-flex-third > div{
          width: 500px;
      }
      .work{
          margin: 3em 0em 0em;
          display: flex;
      }
      .work main{
          width: 75%;
          max-width: 950px;
      }
      .work-tile{
          position: relative;
          padding: 1em;
          margin-bottom: 2em;
          display: flex;
          flex-direction: row;
          width: 100%;
          max-width: 750px;
      }
      #wwdc::before,
      #UXcs::before {
        content: '';
        display: block;
        height:      105px;
        margin-top: -105px;
        visibility: hidden;
      }


      /* TOP GRADIENT */
      .work-tile::before {
        content: "";
        position: absolute;
        left: 0;
        top: -2px;
        width: 10%;
        height: 2px;
        border-style: solid;
          border-width: 2px;
          border-image: linear-gradient(to right, #1c226b, var(--ACCMain)) 1;
          border-right: none;
          border-left: none;
          border-bottom: none;
    }

    /* LEFT GRADIENT */
      .work-tile::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 20%;
        border-style: solid;
          border-width: 2px;
          border-image: linear-gradient(to bottom, #1c226b, var(--ACCMain)) 1;
          border-top:none;
          border-right: none;
          border-bottom: none;
    }

      .work-tile img{
          width: 25%;
          object-fit: contain;
          margin-right: .5em;
      }
      
      .side-nav{
          position: sticky;
          top:15%;
          padding: 2em;
          display: flex;
          flex-direction: column;
          min-width: 20%;
          height: 25vh;
      }
      .side-nav a{
          margin: 1em 0;
      }
}

@media screen and (max-width: 900px) {

      .side-nav{
        position: sticky;
        top:25%;
        padding: 1.25em;
        display: flex;
        flex-direction: column;
        min-width: 25%;
        height: fit-content;
        margin-right: 2em;
    }
    .side-nav a{
        margin: 1em 0;
    }
    .work {
        display: flex;
        flex-direction: row;
        margin-top: 4em;
    }
    .work main{
        margin-right: 1em;
    }
    .work-tile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3em;
    }
    .work-tile img{
        margin-bottom: 1em;
        max-width: 314px;
        box-shadow: 2px 2px 8px #d3d3d3;
    }

    #wwdc::before{
        content: '';
        display: block;
        height:      130px;
        margin-top: -130px;
        visibility: hidden;
        
    }
    #UXcs::before {
        content: '';
        display: block;
        height:      105px;
        margin-top: -105px;
        visibility: hidden;
      }

     
}

th,td{
    border-bottom: 1px solid #d3d3d3;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    text-align: left;
}
th{
    padding: 1em 1em 1em .2em;
    color: var(--ACCGrey);
}

td{
    padding: 5px;
    height: 2em;
    vertical-align: middle;
}
td:nth-child(odd){
    width: 30%;
}
.div-bg-img{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    /* height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
  
    margin: 24px 0;
}
.div-bg-img img{
    /* align */
    max-height: 350px;
}
.div-bg-img-contain{
    background-color: #fff;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 24px 0;
}
#final-design{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;  
    border: none;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
/* TYPOGRAPHY */
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
    margin-bottom: 24px;
}
em{
    font-style: italic;
}
ul { 
    padding:0;margin-left: 1.2em;
}
ul li{
    margin-bottom: .5em;
}
.bold{
    font-weight: 600;
}
.underline{
    text-decoration: underline;
}
.subtitle{
    color: var(--ACCGrey);
}
.ACCBlue{
    color: var(--ACCBlue);
}
.ACCPink{
    color: var(--ACCPink);
}
.ACCGreen{
    color: var(--ACCGreen);
}
.ACCGrey{
    color: var(--ACCGrey);
}