:root{
    --ACCgradient: linear-gradient(90deg, rgba(28,34,107,1) 0%, rgba(0,246,238,1) 100%);
    --ACCMain: #00F6EE;
    --ACCPink: #FF006F;
    --ACCBlue: #0500FF;
    --ACCGreen: #00BF08;
    --ACCGrey: #7A7A7A;
}
*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* NAV */
nav{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
    z-index: 10;
    padding: 10px 0;
    width: 100vw;
    font-size: 22px;
    transition: all .2s ease-in 0s;
    background-color: white;
}
nav img{
    width: 60px;
    margin: 0 25px;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    margin-right: 50px;
    text-align: center;
}
/* LINKS */
a{
    transition: all 0.3s ease-out;
    color: black;
}
a:visited{
    color: black;
}
a:focus,
a:hover{
    color: var(--ACCMain);
    cursor: pointer;
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    height:125px;
    border-top: 1px solid black;
    background-color: white;
    align-items: center;
    justify-content: center;
}
footer p{
    display: block;
}
/* CONTENT */
.container{
    display: flex;
    flex-direction: column;
    margin-top:100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.intro{
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 175px;
}
.intro p{
    margin-top: 30px;
}
.intro img{
    width: 302px;
}
.icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 26px;
    margin-top: 18px;
}
.icons a{
    margin: 0 5px;
}
.section-header{
    margin-bottom: 80px;
    text-align: center;
}
.latest-work-card{
    display: flex;
    height: 550px;
    padding: 0 20px;
    justify-content: center;
    margin-bottom: 120px;
}

.lw-text{
    width: 50%;
    line-height: 125%;
}
.lw-text p:first-of-type{
    margin-top: 15px;
}
.lw-text p:last-of-type{
    margin-top: 30px;
}
.latest-work-card .btn{
    margin-top: 70px;
}
.latest-work .btn-inverse{
    margin-top: 0;
}
.btn{
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white ;
    border-radius: 30px;
}
.btn:hover{
    border: 1px solid transparent;
    background-color: black ;
    color: white;
}
.btn-inverse{
    margin-top: 50px;
    display: inline-block;
    font-size: 24px;
    padding: 15px 30px;
    border: 1px solid transparent;
    background-color: black ;
    border-radius: 30px;
    color:white;
    text-decoration: none;
}
.btn-inverse:visited{
    color: white;
}
.btn-inverse:hover{
    border: 1px solid black;
    background-color: white ;
    color: black;
}

.gradient-btn {
    position:relative;
    margin-left: auto;
    padding:15px 40px;
    background-color: #FFF;
    border: none;
    text-decoration: none;
  }
.gradient-btn::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:30px; 
    padding:4px; 
    background:var(--ACCgradient); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
   
  }
.gradient-btn:hover::before{
    border:5px solid #000;
    border-radius: 30px;
    background: white;
}

.gradient-btn:hover{
    background: var(--ACCgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.gradient-text{
    background: var(--ACCgradient);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact{
    display: flex;
    flex-direction: column;
    margin:120px 0;
    width: 100%;
    align-items: center;
}
.contact .section-header{
    margin-bottom: 30px;
}
.contact p{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}

form input[type=text],
form textarea{
    padding: 10px 20px;
    width: 360px;
    border: none;
}
form input[type=text],
form textarea,
form input[type=submit]{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
form input[type=submit]{
    cursor: pointer;
}
form input[type=text]{
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
form textarea{
    margin: 0 0 30px 0;
    height: 340px;
    border: 1px solid black;
}
.contact-form .gradient-btn{
    font-family: 'Kulim Park', sans-serif;
    font-size: 16px;
    border: none;
}
.contact-form .gradient-btn::before{
    padding: 2px;
}
.contact-form .gradient-btn:hover::before{
    border: 3px solid black;
}
.form-success{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-success .gradient-btn{
    display: inline-block;
    margin-top: 25px;
}
.form-submit-img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: url('./img/memoji-smile.jpg') no-repeat center;
    background-size: 100%;
    box-shadow: 2px 2px 8px #d3d3d3;
    margin-bottom: 25px;
}
.bio-section{
    margin-bottom: 175px;
}
.bio{
    max-width: 950px;
}
.bio p{
    line-height: 27px;
}
.bio svg{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
.code-container{
    width: 950px;
    max-height: 725px;
    background-color: #FBFBFB;
    overflow-y: scroll;
    margin-bottom: 175px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
.line-numbers{
    width: 25px;
    float: left;
    line-height: 200%;
    color: var(--ACCGrey);
    margin-right: 25px;
}
.code{
    float: left;
    line-height: 200%;
    font-family: 'Source Code Pro', monospace;
}
.indent-code{
    margin-left:15%;
}
.code-toolbar{
    position: sticky;
    width: 100%;
    top:0;
    background-color: #F8F8F8;
    padding: 15px;
    border-bottom: 1px solid #D9D9D9;
}
.circle{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 10px;
}
.code-toolbar .circle:nth-child(1){
    background-color: #FF5454;
}
.code-toolbar .circle:nth-child(2){
    background-color: #FFBF43;
}
.code-toolbar .circle:nth-child(3){
    background-color: #90DE2C;
}
#allProj:focus,
#caseStudyProj:focus,
#wwdcProj:focus,
#allProj:hover,
#caseStudyProj:hover,
#wwdcProj:hover{
    transform: scale(1.1);
    color: black;
}
.filter-btn:nth-of-type(1){
    margin-top:30px;
}
.filter-btn{
    padding: 15px 30px;
    border-radius: 30px;
    margin: 5px;
}
.proj-all-btn-active{
    background-color: var(--ACCGreen);
    color: white;
}
.proj-all-btn{
    border: 1px solid var(--ACCGreen);
    color: black;
}
.proj-cs-btn-active{
    background-color: var(--ACCPink);
    color: white;
}
.proj-cs-btn{
    border: 1px solid var(--ACCPink);
    color: black;
}
.proj-wwdc-btn{
    border: 1px solid var(--ACCBlue);
    color: black;
}
.proj-wwdc-btn-active{
    background-color: var(--ACCBlue);
    color: white;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin:175px 0;
}
.project-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 48px 30px;
    padding: 24px;
    /* flex-basis: 33.333333%; */
}
.project-card > div{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
}
.project-card p{
    font-size: 14px;
}
.project-card a{
    cursor: pointer;
}
.proj-typeCS{
     padding: 8px 18px;
     border: 1px solid var(--ACCPink);
     border-radius: 30px;
}
.proj-typeWWDC{
    padding: 8px 18px;
    border: 1px solid var(--ACCBlue);
    border-radius: 30px;
}

.bottom-card{
    font-size: 22px;
}
.bottom-card-icons{
    font-family: 'Material Icons Outlined';
}
.bottom-card-icons a{
    margin-left:2px;
}
.svg-inline--fa{
    vertical-align: 0;
}
.overlayDiv{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
    width: 360px;
    height: 360px;
}
.close-btn{
    position: absolute;
    top: 2%;
    right: 3%;
}
.close-btn:hover{
    cursor: pointer;
}
/* TYPOGRAPHY */
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
em{
    font-style: italic;
}
.bold{
    font-weight: 600;
}
.underline{
    text-decoration: underline;
}
.subtitle{
    color: var(--ACCGrey);
}
.ACCBlue{
    color: var(--ACCBlue);
}
.ACCPink{
    color: var(--ACCPink);
}
.ACCGreen{
    color: var(--ACCGreen);
}
.ACCGrey{
    color: var(--ACCGrey);
}